.nav-search {
  background-color: #333333;
  border: none;
  width: 100%;
  height: 60px;
}
.nav-other-btn {
  border: none;
  height: 34px;
  line-height: 34px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #555555;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
}
.nav-other-btn:active {
  box-shadow: 0px 2px 2px #101010 inset;
  -webkit-box-shadow: 0px 2px 2px #101010 inset;
  -moz-box-shadow: 0px 2px 2px #101010 inset;
}
.nav-other-btn:focus,
.nav-other-btn:hover {
  background-color: #444444;
  outline: none;
  text-decoration: none;
  color: #999999;
}
.mb-50 {
  margin-bottom: 50px;
}
.mt-30 {
  margin-top: 30px;
}
.text-red {
  color: #ff3300;
}
.mr-10 {
  margin-right: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.form-input-bg {
  background-color: #EEEEEE;
}
.btn-block:focus,
.btn-block:hover,
.btn-block:active {
  border: 1px #999999 solid;
  color: #999999;
  outline: none !important;
  background-color: #FFFFFF;
}
.btn-block {
  color: #FFFFFF;
  font-size: 16px;
  outline: none;
  background-color: #CCCCCC;
}
.explan-bg-partner {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background: url(../images/hand.svg) no-repeat center;
  background-size: 680px auto;
}
.partner-note {
  padding-left: 60px;
  color: #7FCC83;
  font-size: 16px;
  margin-top: 80px;
}
.partner-note span {
  font-weight: bold;
}
.partner-note p {
  margin-bottom: 20px;
}
span.error {
  color: red;
  line-height: 34px;
  text-align: right;
  background: url(../images/error.png) no-repeat left center;
  padding-left: 20px;
  margin-left: 10px;
}
